@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=League+Spartan:wght@800&family=Roboto+Mono:wght@100&display=swap');


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* navbar */
#navbar li a {
  padding-right: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 19px;
  
}
#navbar li a:hover {

color: #fc5957;
transition: 0.4s ease-in-out; 
font-size: 22px;
}

#navbar li a:hover {
  color: #fc5957;
}

#logo {
  margin-left: 5%;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}

#logo:hover {
  color: #fc5957;
  transition: 0.4s;
  font-size: 29px;
  
}



/* container boas vindas */
.container-welcome {
  min-width: 99vw;
  width: 100%;
  height: 88vh;
  display: flex;
  margin-top: 6.9vh;
}

.red-container {
  margin-left: 5%;
  width: 45%;
  height: 100%;
  background-color: #fc5957;
  border-radius: 3px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red-container p {
  font-family: 'League Spartan', sans-serif;
  font-size: 3rem;
  color: white;
  margin-top: 26.5%;
  justify-content: center;
}

.red-container hr {
  margin-top: -40px;
}


.red-container h1 {
  font-family: 'Chau Philomene One', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 5rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -0.1px;
}


.gray-container {
  margin-right: 5%;
  width: 45%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 0px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.img {
  width: 100%;
}


.gray-container img {
  width: 60%;
  border-radius: 50%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.gray-container p {
  font-family: 'League Spartan', sans-serif;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin-top: 10%;
  display: flex;
  justify-content: center;
}



/* segundo container */
.container-info {
  min-width: 99vw;
  width: 100%;
  height: 115vh;
  display: flex;
}

.container-about {
  margin-left: 5%;
  width: 90%;
  height: 100%;
  /* background-color: #f8f8f8; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 5%;
}


/* 
.container-info-right {
  width: 45%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


.container-info h1 {
  margin-top: 8%;

}

.container-background {
  border-radius: 10px ;
  width: 100%;
  height: 60%;
  background-color: #fc5957;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;     
}

.card-about{
  margin: 30px;
  width: 20vw;
  background-color: #fafafa;
}






@media (max-width: 1150px) {

  .container-welcome {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-top: 7.5vh;
  }



  .red-container {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    background-color: #fc5957;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .red-container p {
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    color: white;
    margin-top: 10%;
    justify-content: center;
  }

  .red-container hr {
    margin-top: 0px;
  }


  .red-container h1 {
    font-family: 'Chau Philomene One', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -0.1px;
  }

  .gray-container {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    background-color: #fafafa;
    border-radius: 3px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .gray-container img {
    width: 40%;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .gray-container p {
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
  }

}


@media (max-width: 1050px) {

  .red-container p {
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    color: white;
    margin-top: 10%;
    justify-content: center;
  }
}